<div class="wrapper">

	<header class="header">
		<div class="header-content">
			<div class="title-block">
				<img src="../assets/img/logo.svg" alt="Currency Converter">
				<h1 class="title">Currency Converter</h1>
			</div>
			<div class="exchange-rates">
				<div class="exchange-rates rate">
					1 $: {{ usdToUah }} ₴
				</div>
				<div class="exchange-rates rate">
					1 €: {{ eurToUah }} ₴
				</div>
			</div>
		</div>
	</header>

	<div class="converter">

		<div class="first-currency">
			<mat-form-field class="currency-selection" appearance="standard">
				<mat-select [(value)]="state.firstCurrency" (selectionChange)="onChangeFirst($event.value)" disableRipple>
					<mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="quantity-container" appearance="standard">
				<input class="quantity" name="first-quantity" matInput type="number" placeholder="200.00"
					[(ngModel)]="state.firstAmount" (input)="getValueFirst($event)">
			</mat-form-field>
		</div>

		<div [ngClass]="{'middle-shown': state.secondCurrency, 'middle-hidden': !state.secondCurrency}">
			1 {{ state.firstCurrency }} = {{ rateForOne + ' ' + state.secondCurrency }}
		</div>

		<div class="second-currency">
			<mat-form-field class="currency-selection" appearance="standard">
				<mat-select name="second-currency" (selectionChange)="onChangeSecond($event.value)" disableRipple>
					<mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="quantity-container" appearance="standard">
				<input class="quantity" name="second-quantity" matInput type="number" placeholder="200.00"
					[(ngModel)]="state.secondAmount" (input)="getValueSecond($event)">
			</mat-form-field>
		</div>

	</div>
</div>